attrs==21.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
aws-encryption-sdk==2.0.0; python_version >= "3.6"
awsipranges==0.3.3; python_version >= "3.7" and python_version < "4.0"
boto3==1.20.53; python_version >= "3.7" and python_version < "4.0"
botocore==1.23.53; python_version >= "3.7" and python_version < "4.0"
certifi==2021.10.8; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
cffi==1.15.0; python_version >= "3.6"
charset-normalizer==2.0.11; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
cloudformation-cli-python-lib==2.1.9; python_version >= "3.6"
compose-x-common==0.4.2; python_version >= "3.7" and python_version < "4.0"
cryptography==36.0.1; python_version >= "3.6"
flatdict==4.0.1; python_version >= "3.7" and python_version < "4.0"
idna==3.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
install==1.3.5; python_version >= "3.7" and python_version < "4.0"
jmespath==0.10.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0"
mongodb-atlas-api-sdk==0.1.0; python_version >= "3.7" and python_version < "4.0"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0"
requests==2.27.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
s3transfer==0.5.1; python_version >= "3.7" and python_version < "4.0"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0"
urllib3==1.26.8; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
wrapt==1.13.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
